<div class="modal" [class.active]="active">
  <button class="modal-button" (click)="onCloseModal()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path fill="#f00"
        d="M12 2C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2Zm3.36 12.3c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22s-.38-.07-.53-.22l-2.3-2.3-2.3 2.3c-.15.15-.34.22-.53.22s-.38-.07-.53-.22a.754.754 0 0 1 0-1.06l2.3-2.3-2.3-2.3a.754.754 0 0 1 0-1.06c.29-.29.77-.29 1.06 0l2.3 2.3 2.3-2.3c.29-.29.77-.29 1.06 0 .29.29.29.77 0 1.06l-2.3 2.3 2.3 2.3Z" />
    </svg>
  </button>
  <div class="modal-content">
    <h2>Instalação</h2>
    <app-code class="code-wrapper" language="shell">npm install angular-vlibras</app-code>
    <h2>Uso</h2>
    <app-code class="code-wrapper" language="tsx">
      {{ codeExample }}
    </app-code>
    <h2>Posição do Widget</h2>
    <app-code class="code-wrapper" language="tsx">
      &lt;angular-vlibras position="bottomRight" /&gt;
    </app-code>
    <h3>Tipos de Posição:</h3>
    <span class="type">top</span>
    <span class="type">bottom</span>
    <span class="type">bottom-left</span>
    <span class="type">top-left</span>
    <span class="type">bottom-right</span>
    <span class="type">top-right</span>
    <h2>Avatar</h2>
    <app-code class="code-wrapper" language="tsx">
      &lt;angular-vlibras avatar="hosana" /&gt;
    </app-code>
    <h3>Opções de Avatar:</h3>
    <span class="type">icaro</span>
    <span class="type">hosana</span>
    <span class="type">guga</span>
    <span class="type">random</span>
    <h2>Opacidade</h2>
    <app-code class="code-wrapper" language="tsx">
      &lt;angular-vlibras opacity="0.8" /&gt;
    </app-code>
  </div>
</div>
